<p style="color: green"><%= notice %></p>

<div id="recipes">
  <h1>Shopping List</h1>
  <div class="topBoxRecipeList">
    <div class="leftSideRecipeList">
      <p>Amount of food items to buy: <%= @missing_foods_count %> </p>
    </div>

    <div class="rightSideRecipeList">
      <p>Total value of food needed: <%= @missing_foods_price %> </p>
    </div>
  </div>
  
  <hr class="horizonatalLine">
  <table class="tableRecipeList">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>

    <% @recipe_missing_foods.each do |missing_food| %>
      <tr>
        <td><%= missing_food.name %></td>
        <td><%= missing_food.quantity %> <%= missing_food.measurement_unit %></td>
        <td><%= "$ " + missing_food.price.to_s %></td>
      </tr>
    <% end %>
  </table>
  <button class="backToRecipes"><%= link_to "Back to recipes", recipes_path %></button>
</div>
