<%= form_with model: @recipe, url: user_recipes_path do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, :placeholder => placeholder="Name" %>
    <%= form.text_area :description, :placeholder => placeholder="Description" %>
    <%= form.number_field :prep_time, :placeholder => placeholder="Preparation Time (in minutes to the nearest whole number)" %>
    <%= form.number_field :cook_time, :placeholder => placeholder="Cook Time (in minutes to the nearest whole number)" %>
    <%= form.check_box :public %>
    <%= form.hidden_field :user_id, value: params[:user_id] %>
    <%= form.submit 'Submit' %>
  </div>
<% end %>
