<p style="color: green"><%= notice %></p>

<%= flash[:success] %>
<%= flash[:error] %>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <a href="/users/<%= recipe.user_id %>/recipes/<%= recipe.id %>" class="recipeMainBox">
      <div class="leftSideRecipe">
        <h1><%= recipe.name %></h1>
        <button type="button">REMOVE</button>
      </div>

      <div class="rightSideRecipe">
        <p><%= recipe.description %></p>
      </div>
    </a>
  <% end %>
</div>

