<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div id="recipes">
  <h1><%= @recipe.name %></h1>
  <div class="topBoxRecipeList">
    <div class="leftSideRecipeList">
      <p>Preparation time (in minutes):<%= @recipe.prep_time %></p>
      <p>Cooking time (in minutes):<%= @recipe.cook_time %></p> 
    </div>

    <div class="rightSideRecipeList">
      <span>Public </span>
      <label class="switch">
        <%= check_box_tag 'is_checked', '1', @recipe.public %>
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="recipeListButtons">
    <button type="button">Generate shopping list</button>
    <button type="button"><%= link_to "Add ingredient", user_recipes_path %></button>
  </div>
  <hr class="horizonatalLine">
  <table class="tableRecipeList">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.quantity %></td>
        <td><%= food.measurement_unit %></td>
        <td><button type="button">REMOVE</button></td>
      </tr>
    <% end %>
  </table>
  
  <button class="backToRecipes"><%= link_to "Back to recipes", user_recipes_path %></button>

  
</div>
