<%= form_with model: recipe_food, class: "form", style: "max-width: 80%; margin: 0 auto;", url: recipe_recipe_foods_path do |form| %>
  <h1>New recipe food</h1>

  <div class="form-group" style="margin-bottom: 20px;">
    <%= form.label "Select Food: " %>
    <%= form.collection_select :food_id, @foods, :id, :name %>
  </div>

  <div class="form-group" style="margin-bottom: 20px;">
    <%= form.label "Quantity Required: " %>
    <%= form.number_field :quantity %>
  </div>
  
  <%= form.hidden_field :recipe_id, value: params[:recipe_id] %>
  
  <div>
    <%= form.submit "Add ingredient" %>
  </div>
<% end %>
