<%= form_with model: recipe_food, url: user_recipe_recipe_foods_path do |form| %>
  <%= form.collection_select :food_id, @foods, :id, :name %>
  <%= form.hidden_field :recipe_id, value: params[:recipe_id] %>
  <%= form.number_field :quantity %>
  
  <div>
    <%= form.submit "Add ingredient" %>
  </div>
<% end %>
